body{
background-color: LightCoral;

}



button {
  border: none;
  color: white;
  background-color:#E9967A;
  padding:1em 2em 1em 2em;
}


.padding-hover:hover {
    background-color:#FFEBCD;
    color:white;
    text-decoration: underline;
}

/---Media Queries---/
@media screen and (max-width: 1000px) {
    body {

        background-color:#DB7093;
    }
}

@media screen and (max-width: 500px) {
    body {
        background-color:#FFE4E1;
    }
}




h1 {
  color: #fff;
  font-size:52px;
  position: relative;
  text-align: center;

}
.container {

    background-image: url(https://github.com/ykanaan/gra-321/blob/master/code-exercises/img/dog-4118585_960_720.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    margin:0 auto;
    width:50%;
  }
  .layout {

      background-image: url(https://github.com/ykanaan/gra-321/blob/master/code-exercises/img/Crate-and-Barrel-Kitchen-Layout.png);
      background-size: contain;
      background-repeat: no-repeat;
      height: 700px;
      margin:0 auto;
      width:50%;
    }

    h2 {font-family: Century Gothic Pro;
        color:#fff;
        font-size:52px;
        position: relative;
        text-align: center;
    }
